@model interaktiva14.Models.ViewModels.SearchResultViewModel


<body class="subpage">
	
		<div id="page-wrapper">
			<!-- Content -->
			@if (@Model.ErrorState == true)
			{
				<h1 id="error-message">Error 404 - Movie not found</h1>
			}
			else
			{
				<section id="content">
					<h1 class="search-result-header">Search Result</h1>
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Main Content -->
									<!-- Features -->
									<section id="features">
										<div class="container">
											<div class="row">	
												@for (var i = 0; i < Model.Movies.Count; i++)
                            					{
													<div class="col-4">
														<!-- Feature #1 -->
														<section>
															<img src=@Model.Movies[@i].Poster alt=@Model.Movies[@i].Title>
															<h1>@Html.DisplayFor(model => model.Movies[@i].Title)</h1>
															<h1>Genre: @Html.DisplayFor(model => model.Movies[@i].Genre)</h1>
															<h1>Release date: @Html.DisplayFor(model => model.Movies[@i].Released)</h1>
															<h1>Director: @Html.DisplayFor(model => model.Movies[@i].Director)</h1>
															<h1>IMDd rating: @Html.DisplayFor(model => model.Movies[@i].Ratings[0].Value)</h1>
															
															<h3 class="number-of-likes-@(i)">Number of Likes: @Model.Movies[@i].NumberOfLikes</h3>
                                							<h3 class="number-of-dislikes-@(i)">Number of Dislikes: @Model.Movies[@i].NumberOfDislikes</h3>
                               								<div class="likedislikebuttons">
                            								<input class="likebutton" id="likebutton@(i)" type="button" value="Like ♥"/>
                            								<input class="dislikebutton" id="dislikebutton@(i)" type="button" value="Dislike"/>
															<div class="description">
																<div class="expandMoreContent" id="showMoreContent@(i)"> 
																	<p>@Model.Movies[@i].Plot</p>
																</div>
																<div class="expandMoreHolder">
																	<span expand-more data-hidetext="Show Less..." data-showtext="Show More..." data-target="showMoreContent@(i)" class="btn-expand-more">...Show More</span>
																</div>
															</div>
														</section>
                        							</div>
                    							}
                							</div>
            							</div>
        							</section>
								
							</div>
						</div>
					</div>
				</section>
			}
		</div>
</body>
