@model interaktiva14.Models.ViewModels.SearchResultViewModel


<body class="subpage">
	
		<div id="page-wrapper">
			<!-- Content -->
			@if (@Model.ErrorState == true)
			{
				<h1 id="error-message">Error 404 - Movie not found</h1>
				<img id="error-image" src="https://cdn.mos.cms.futurecdn.net/PuXipAW3AXUzUJ4uYyxPKC-1200-80.jpg" alt="Error 404">
			}
			else
			{
				<section id="content">
					<h1 class="search-result-header">Search Result</h1>
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Main Content -->
									<!-- Features -->
									<section id="features">
										<div class="container">
											<div class="row">	
												@for (var i = 0; i < Model.Movies.Count; i++)
                            					{
													<div class="col-4">
														<!-- Feature #1 -->
														<section>
															<img class="bordered-feature-image" src=@Model.Movies[@i].Poster alt=@Model.Movies[@i].Title>
															<h2>@Html.DisplayFor(model => model.Movies[@i].Title)</h2>
															<h3>Genre: @Html.DisplayFor(model => model.Movies[@i].Genre)</h3>
															<h3>Release date: @Html.DisplayFor(model => model.Movies[@i].Released)</h3>
															<h3>Director: @Html.DisplayFor(model => model.Movies[@i].Director)</h3>
															<h3>IMDd rating: @Model.Movies[@i].Ratings[0].Value</h3>
															
															<h3 id="number-of-likes-@(i)">Number of Likes: @Model.Movies[@i].NumberOfLikes</h3>
															<h3 id="number-of-dislikes-@(i)">Number of Dislikes: @Model.Movies[@i].NumberOfDislikes</h3>
															<div class="likedislikebuttons">
																<button id="likebutton@(i)" type="button" class="btn btn-success" onclick="LikeFunction('@Model.Movies[@i].imdbID', @(i))">Like ♥</button>
																<button id="dislikebutton@(i)" type="button" class="btn btn-danger" onclick="DislikeFunction('@Model.Movies[@i].imdbID', @(i))">Dislike</button>
															</div>
															
															<div class="description">
																<div class="expandMoreContent" id="showMoreContent@(i)"> 
																	<p>@Model.Movies[@i].Plot</p>
																</div>
																<div class="expandMoreHolder">
																	<span expand-more data-hidetext="Show Less..." data-showtext="Show More..." data-target="showMoreContent@(i)" class="btn-expand-more">...Show More</span>
																</div>
															</div>
														</section>
                        							</div>
                    							}
                							</div>
            							</div>
        							</section>
								
							</div>
						</div>
					</div>
				</section>
			}
		</div>
</body>
